body{
    background-color: #f4f4f4;
}

main div{
    color: #0c0c0c;
}

/*ヘッダー*/
header{
    margin-top: 0;
    padding-bottom: 1.3em;
    width: 100%;
    max-height: 16vh;
    align-items: start;

    background-color: #f4f4f4;

    z-index: +1;
}

/*ヘッダーシャドウ*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    box-shadow: 1px 1px 15px .5px rgb(235, 235, 235); 
               /*t/b l/r blur spread color inner shadow if needed*/
}

/*ヘッダー タイトル文字*/
header a{
    padding: 0;
    margin: 0;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: all .3s ease .3s;

    color: #0c0c0c;
}

.top{
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    font-family: 'Times New Roman';
}

.header{
    -webkit-transform: translateY(0);
    transform: translateY(0);

    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4 ease;
    transition: 
        transform 0.4s ease,
        -webkit-transform 0.4s ease;
}

.header-unpinned{
    -webkit-transform: translateY(-52%);
    transform: translateY(-52%);
}

/*headerナビゲーションスタイリング　スタート*/
header nav{
    margin: 25px;
    padding: 0;
    border-radius: 50px;
    align-items: center;

    text-align: center;
    z-index: -1;
    /*background-color:  rgb(236, 236, 236);*/
}

/*ブロックに対して*/
header nav ul{
    margin: 0;
    padding: 0;
}

/*ブロック内の行に対して*/
header nav ul li{
    list-style-type: none;
    display: inline-block; 
    justify-content: center;
    align-items: center;

    padding: 1px;
	margin: .7em;
    width: 15%; 
}

/*行と行の要素を分けて指示する必要があるかは不明だがとりあえずわけて処理*/
header nav ul li a{
    text-decoration: none; /*aタグの下線（デフォルトでついてる）を消す*/
    text-align: center;

    color: #0c0c0c;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s ease .1s;
}

/*マウスホバーで動作*/
header nav ul li a:hover{
    color: #C923DB;
    transition: .3s;
}

/*headerナビゲーションスタイリング　おわり*/

/*in-Pageナビゲーションスタイリング*/
article nav{
    margin: .5em;
    padding: 0;
    align-items: center;
    text-align: center;
    display: flex;

    background-color: rgba(1, 0, 0, 0);
}

article nav ul{
    margin: 0;
    padding: 0;
    display: block;
    justify-content: flex-start;
}

article nav ul li{
    list-style-type: none;
    align-items: center;
    text-align: center;
    display: inline-flex;
    border-radius: 50px;

    padding: .7em;
    padding-inline: 1em;
    margin: .5em;
    width: 9em;
    background-color: rgb(236, 236, 236);
    transform: scaleX(1) scaleY(1);
    transition: transform background-color 3s ease;
}

article nav ul li a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    
    font-size: 15px;
    font-weight: 650;
    color: #0c0c0c;
    transition: color .3s ease;
}

article nav ul li:hover{
    background-color: #79a9f0;
    transform: scaleX(1.09) scaleY(1.09);
}

article nav ul li a:hover{
    color: #f4f4f4;
}

.sub-title{
    display: block; /*一旦、aritcle外にだして窓枠とバッティングしないように*/
    padding-top: 25em;
    font-size: 16px;
    font-weight: bold;
    color: #0c0c0c;

    z-index: -1;
}

/*まどわくテスト*/

#content-test{
    margin: 0;
    padding: 0;
    flex: 1 .5 50%; /*flex: flex-grow(拡大率) flex-shrink(縮小率) flex-basis(基本幅)*/
    border: #0c0c0c solid 2px;
}
#content-test a{
    padding-left: 1.5em;
    text-decoration: none; /*下線とる*/
    color: #0c0c0c;
    font-weight: 500;
}

.box1{ /*大枠をつくる*/
    margin: 1em;
    padding: 2em;
    display: inline-flex;
    align-items: flex-end;

    background-color: #0c0c0c;
    height: 390px;
    width: 370px;
}

.inner-Box{ /*ミニ枠をつくる*/
    margin: 0 auto;
    padding: 1em;
    width: 300px;
    display: inline-flex;
    align-items: inline-end;

    background-color: #f4f4f4;
    border-radius: 50px;
    transform: scaleX(1) scaleY(1);
    transition: background-color .3s ease-out;
}

.inner-Box:hover{
    transform: scaleX(1.1) scaleY(1.1);
    background-color: #79a9f0;
}

span{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    justify-content: flex-end;
    text-align: center;
    display: flex;
}

span a{
    margin: 3em;
    padding: 6px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #d0d0d0;
    border-radius: 50%;
    border-bottom-right-radius: 12px;
    height: 50px;
    width: 50px;
    left: -20px;
    top: -20px;
    background-color: #0c0c0c;
    transition: color background-color .3s;
}

span a:hover{
    background-color: #79a9f0;
    color: #0c0c0c;
    transition: background-color .3s ease-in-out;
}

.backToTop{
    margin: 0;
    padding: 0;

    font-size: 15px;
    font-weight: 650;
}


/*フッター*/
footer{
    position: relative;
    width: 100%;
    height: 40vh;

    background-color: rgb(236, 236, 236);
}

footer ul{
    margin: 0;
    padding: 0;
}

footer ul li{
    list-style-type: none;
    display: inline-block;
    align-items: center;
    justify-content: center;

    width: 100%;
}
footer ul li a{
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 2px;
    padding: 0;
    text-align: center;
    
    font-weight: normal;
}

/*マウス追従スタイル*/
.stalker{
    background-color: #151515;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: -15px;
    left: -15px;
    opacity: 0;

    pointer-events: none;
    position: fixed;
    transition: transform .25s ease-out;
    z-index: +1000;

}

.stalker.cursor-hover{
    background-color: #d0d0d0;
    height: 55px;
    width: 55px;
    left: -25px;
    top: -25px;
    
    transition: all .15s ease-out;
}