/*PCファーストメディアクエリ*/
@media screen and(max-width: 959px) {
    /*ここにPC表示の記述*/
}
@media screen and(max-width: 480px) {
    /*ここにタブレット表示の記述*/
} 


body{
    background-color: #f4f4f4;
}

main div{
    color: #0c0c0c;
}

/*ヘッダー*/
header{
    margin-top: 0;
    padding-bottom: 1.3em;
    width: 100%;
    max-height: 16vh;
    align-items: start;

    background-color: #f4f4f4;

    z-index: +1;
}

/*ヘッダーシャドウ*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    box-shadow: 1px 1px 15px .5px rgb(235, 235, 235); 
               /*t/b l/r blur spread color inner shadow if needed*/
}

/*ヘッダー タイトル文字*/
header a{
    padding: 0;
    margin: 0;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: all .3s ease .3s;

    color: #0c0c0c;
}

.top{
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    font-family: 'Times New Roman';
}

.header{
    -webkit-transform: translateY(0);
    transform: translateY(0);

    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4 ease;
    transition: 
        transform 0.4s ease,
        -webkit-transform 0.4s ease;
}

.header-unpinned{
    -webkit-transform: translateY(-52%);
    transform: translateY(-52%);
}

/*headerナビゲーションスタイリング　スタート*/
header nav{
    margin: 25px;
    padding: 0;
    border-radius: 50px;
    align-items: center;

    text-align: center;
    z-index: -1;
    /*background-color:  rgb(236, 236, 236);*/
}

/*ブロックに対して*/
header nav ul{
    margin: 0;
    padding: 0;
}

/*ブロック内の行に対して*/
header nav ul li{
    list-style-type: none;
    display: inline-block; 
    justify-content: center;
    align-items: center;

    padding: 1px;
	margin: .7em;
    width: 15%; 
}

/*行と行の要素を分けて指示する必要があるかは不明だがとりあえずわけて処理*/
header nav ul li a{
    text-decoration: none; /*aタグの下線（デフォルトでついてる）を消す*/
    text-align: center;

    color: #0c0c0c;
    font-size: 14px;
    font-weight: 500;
    transform: scale(1,1);
    transition: all .3s ease .1s;
}

/*マウスホバーで動作*/
header nav ul li a:hover{
    transform: scale(1.2,1.2);
}

/*headerナビゲーションスタイリング　おわり*/

/*in-Pageナビゲーションスタイリング*/
article nav{
    margin: .5em;
    padding: 0;
    align-items: center;
    text-align: center;
    display: flex;

    background-color: rgba(1, 0, 0, 0);
}

article nav ul{
    margin: 0;
    padding: 0;
    display: block;
    justify-content: flex-start;
}

article nav ul li{
    list-style-type: none;
    align-items: center;
    text-align: center;
    display: inline-flex;
    border-radius: 50px;

    padding: .7em;
    padding-inline: 1em;
    margin: .5em;
    width: 9em;
    background-color: rgb(236, 236, 236);
    transform: scaleX(1) scaleY(1);
    transition: transform background-color 3s ease;
}

article nav ul li a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    
    font-size: 15px;
    font-weight: 650;
    color: #0c0c0c;
    transition: color .3s ease;
}

article nav ul li:hover{
    background-color: #79a9f0;
    transform: scaleX(1.09) scaleY(1.09);
    color: #f4f4f4;
}

.sub-title{
    display: block; /*一旦、aritcle外にだして窓枠とバッティングしないように*/
    padding-top: 25em;
    font-size: 16px;
    font-weight: bold;
    color: #0c0c0c;

    z-index: -1;
}

/*まどわくテスト*/

#content-test{
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1 .5 70%; /*flex: flex-grow(拡大率) flex-shrink(縮小率) flex-basis(基本幅)*/
    align-items: center;
    justify-content: center;

    /*border: #0c0c0c solid 2px;*/
}

.box1{ /*大枠をつくる*/
    margin: 1.5em;
    padding: 2em;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1 .5 50%;
    
    background-color: #0c0c0c;
    height: 390px;
    width: 370px;
}

.inner-Box a{ /*ミニ枠をつくる*/
    text-decoration: none; /*下線とる*/
    padding: 1em;
    padding-left: 1.5em;
    margin: 0 auto;
    display: inline-flex;
    align-items: flex-end;
    width: 300px;
    border-radius: 50px;
    flex-wrap: wrap;
    flex: 1 .3 50%;

    color: #0c0c0c;
    background-color: #f4f4f4;
    font-weight: 500;
    transform: scaleX(1) scaleY(1);
    transition: all .1s ease .0s;
}

.inner-Box a:hover{
    transform: scaleX(1.02) scaleY(1.02);
    background-color: #828282;
    color: #f4f4f4;
}

/*トップに戻る挙動　ボックスと中身をbefore afterで管理したらいけそう*/
.arrow-up{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.arrow-up div{
    margin: 1em;
    padding: 1em;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.arrow-up div a{
    margin: 1em;
    padding: 6px;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    
    background-color: #0c0c0c;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    left: -20px;
    top: -20px;
    transform: scale(1);
    transition: all .2s ease-in-out .1s;
}

.arrow-up div a::before{ /*やじるし作成*/
    content: "";
    margin: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    top: 0;
    bottom: 0;
    left: 2px;
    width: 13px;
    height: 13px;
    border-top: #f4f4f4 solid 2px;
    border-right: #f4f4f4 solid 2px;
    opacity: 1;
    transform: rotate(-45deg) scale(1);
    transition: all .2s ease;
}

.arrow-up div a:hover{
    transform: scale(1.05);
    opacity: 0.2;
}

/*フッター*/
footer{
    position: relative;
    width: 100%;
    height: 46vh;

    background-color: #0c0c0c;
}

footer ul{
    margin: 0;
    padding: 0;
    display: flex;
}

footer ul li{
    margin: .5em;
    padding: 1em;
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

    width: 100%; /*全体の幅を指定*/
}
footer ul li a{
    text-decoration: none;
    margin-top: 2em;
    padding: 0 auto;
    justify-content: space-between;
    text-align: center;
    width: 50%; /*折り返しの幅を指定*/
    
    color: #f4f4f4;
    font-weight: normal;
    font-size: 16px;
    transition: all .2s ease .2s;
}

footer ul li a:hover{
    font-weight: 900;
}

footer span a{
    margin: .5em;
    padding-top: 7.5em;
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;

    color: #f4f4f4;
    font-weight: normal;
    font-size: 10px;
}

/*マウス追従スタイル*/
.stalker{
    background-color: #151515;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: -15px;
    left: -15px;
    opacity: 0;

    pointer-events: none;
    position: fixed;
    transition: transform .25s ease-out;
    z-index: +1000;

}

.stalker.cursor-hover{
    background-color: #d0d0d0;
    height: 55px;
    width: 55px;
    left: -25px;
    top: -25px;
    
    transition: all .15s ease-out;
}